# <center><span style="color:red;font-style:normal;font-family:Georgia">NEURAL NETWORK</span></center>

## <span style="color:blue;font-style:normal;font-family:Georgia">Algoritmo neural network.</span>

In [14]:
# 1. Instalando y cargando las librerias.
# 2. Preparando la data para el análisis.
# 3. Creamos una variable de clase Regresion Logistica.
# 4. Entrenamos el modelo basado en la data.
# 5. Predecimos usando el modelo entrenado.
# 6. Revisando la precision de nuestro Neural Network.

## <span style="color:red;font-style:normal;font-family:Georgia">1. Instalando y cargando las librerias.</span>

### <span style="color:red;font-style:normal;font-family:Georgia">1.1. Instalando librerias.</span>

In [1]:
#!pip install tensorflow
#!pip install keras
#!pip install joblib
#!pip install pandas
#!pip install sklearn

### <span style="color:red;font-style:normal;font-family:Georgia">1.2. Cargando librerias.</span>

In [1]:
import numpy as np # matrices
import pandas as pd #stadisticas
import matplotlib.pyplot as plt #plots
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier # multi layer percentron = Neural Network
from sklearn.preprocessing import StandardScaler # reescalar
from sklearn.model_selection import train_test_split  # dividir la data en entrenamiento y testeo
from sklearn import metrics
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=FutureWarning) # para evitar wanrning que complican ver los resultados
warnings.filterwarnings('ignore', category=DeprecationWarning) # para evitar wanrning que complican ver los resultados
print("ready")

ready

## <span style="color:red;font-style:normal;font-family:Georgia">2. Preparando la data para el análisis.</span>

### <span style="color:red;font-style:normal;font-family:Georgia">2.1. Importamos la data.</span>

In [2]:
mydata = pd.read_csv("hepatitis.csv") # comando para subir la data
mydata.head() # comando para visualizar la data

,Class,edad,sex,steroid,antiviral,fatiga,malaise,anorexia,higado_grande,higado_firme,spleen_palpable,spiders,ascites,varices,bilirrubina,ALK_FOSFATO,SGOT,Albumina,Histologia
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,1
3,2,31,1,1,1,2,2,2,2,2,2,2,2,2,0.7,46,52,4.0,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,1

### <span style="color:red;font-style:normal;font-family:Georgia">2.2. Separamos variables dependientes (y) de variables independientes (x)</span>

In [4]:
var_dep=mydata["Class"] # cogemos la columna de nombre insuranceclaim
var_ind=mydata.drop("Class",axis=1) # cogemos TODAS las columnas menos la que dice insuranceclaim (drop)
var_ind.head()

,edad,sex,steroid,antiviral,fatiga,malaise,anorexia,higado_grande,higado_firme,spleen_palpable,spiders,ascites,varices,bilirrubina,ALK_FOSFATO,SGOT,Albumina,Histologia
0,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,1
1,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,1
2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,1
3,31,1,1,1,2,2,2,2,2,2,2,2,2,0.7,46,52,4.0,1
4,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,1

### <span style="color:red;font-style:normal;font-family:Georgia">2.3. Normalizamos la data.</span>

In [6]:
var_ind_norm=StandardScaler().fit_transform(var_ind)
print("ready")

ready

### <span style="color:red;font-style:normal;font-family:Georgia">2.3. Dividimos la data en entrenamiento y testeo.</span>

In [7]:
# Cuando se hace machine learning, siempre se divide la data en data de entrenamiento y data de testeo
x_train,x_test,y_train,y_test=train_test_split(var_ind_norm,var_dep,test_size=0.25,random_state=0)
print("ready")

ready

## <span style="color:red;font-style:normal;font-family:Georgia">3. Creamos una variable de clase Regresion Logistica.</span>

In [8]:
nn=MLPClassifier(hidden_layer_sizes=(500,5),activation='relu')
print("ready")
nn

ready

MLPClassifier(hidden_layer_sizes=(500, 5))

## <span style="color:red;font-style:normal;font-family:Georgia">4. Entrenamos el modelo basado en la data.</span>

In [11]:
nn.fit(x_train, y_train)
print("ready")

ready

In [48]:
#mlp.fit(x_train, y_train)
#print("ready")

### <span style="color:red;font-style:normal;font-family:Georgia">5. Predecimos usando el modelo entrenado.</span>

In [12]:
predicitions=nn.predict(x_test)
print("ready") # revisa si termino el codigo (rstc)
predicitions

ready

array([2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

### <span style="color:red;font-style:normal;font-family:Georgia">6. Revisando la precision de nuestro Neural Network.</span>

In [13]:
# Use score method to get accuracy of model
score=nn.score(x_test, y_test)
print("Precision: ",score)

Precision:  0.8

* Precision = # predichas correctamente /(# predichas correctamente + # predichas incorrectamente)*

## FIN

In [58]:
predicitions.shape

(43,)

In [60]:
x_test,y_test,predicitions

In [62]:
file = np.concatenate([x_test,x_test])

In [63]:
file.shape

(86, 54)

In [64]:
x_test.shape

(43, 54)

In [66]:
var_dep.to_csv("divorce_mod.csv")

In [69]:
type(var_dep)

pandas.core.series.Series

In [70]:
type(x_test)

numpy.ndarray