# <center><span style="color:red;font-style:normal;font-family:Georgia">RANDOM FOREST</span></center>

## <span style="color:blue;font-style:normal;font-family:Georgia">Algoritmo random forest.</span>

In [17]:
# 1. Importar las librerias.
# 1. Importar data.
# 2. Separar variables dependientes de variables independientes.
# 3. Normalizar la data.
# 4. Dividir en data de entrenamiento y testeo.
# 5. Entrenar el algoritmo con la data de entrenamieto.
# 6. Ver su eficiencia usando la data de testeo.

## <span style="color:red;font-style:normal;font-family:Georgia">1. Importar las librerias a utilizar.</span>

In [13]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

## <span style="color:red;font-style:normal;font-family:Georgia">2. Importar la data.</span>

In [4]:
data=pd.read_csv("heart.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## <span style="color:red;font-style:normal;font-family:Georgia">3. Separamos variables dependientes de independientes.</span>

### <span style="color:red;font-style:normal;font-family:Georgia">3.1. Variables dependientes.</span>

In [5]:
var_dep=data["class"] # filtro o cojo la variable dependiente
var_dep.head()

0    1
1    1
2    1
3    1
4    1
Name: class, dtype: int64

### <span style="color:red;font-style:normal;font-family:Georgia">3.2. Variables independientes.</span>

In [6]:
var_ind=data.drop("class",axis=1) # eliminio la variable dependiente para quedarme solo con las independientes (que son las que se normalizan)
var_ind.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [10]:
var_ind_norm=StandardScaler().fit_transform(var_ind) # normalizacion (dato -media)/(desviacion standar)
var_ind_norm

array([[ 0.9521966 ,  0.68100522,  1.97312292, ..., -2.27457861,
        -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, ..., -2.27457861,
        -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, ...,  0.97635214,
        -0.71442887, -0.51292188],
       ...,
       [ 1.50364073,  0.68100522, -0.93851463, ..., -0.64911323,
         1.24459328,  1.12302895],
       [ 0.29046364,  0.68100522, -0.93851463, ..., -0.64911323,
         0.26508221,  1.12302895],
       [ 0.29046364, -1.46841752,  0.03203122, ..., -0.64911323,
         0.26508221, -0.51292188]])

## <span style="color:red;font-style:normal;font-family:Georgia">4. Dividir en data de entrenamiento y testeo.</span>

In [12]:
x_train,x_test,y_train,y_test=train_test_split(var_ind_norm,var_dep,test_size=0.25,shuffle=True,random_state=125)
#shuffle=True -> separa aletoriamente
#test_size = 0.25 -> 25% de toda la data, sera de testeo
#random_state=125 -> que sea reproducible -> ledas cualquier numero entero

## <span style="color:red;font-style:normal;font-family:Georgia">5. Entrenar el algoritmo con la data de entrenamiento.</span>

In [14]:
rf=RandomForestClassifier(max_depth=4,n_estimators=100) # esto solo construye el modelo
# max_depth -> numero de ramas
# n_estimators -> numero de arboles

In [15]:
rf.fit(x_train,y_train) # fit -> optimizar -> entrenar
print('ready')

ready

## <span style="color:red;font-style:normal;font-family:Georgia">6. Ver su eficiencia usando la data de testeo.</span>

In [16]:
rf.score(x_test,y_test) # score -> puntaje -> que tan bien hace su trabajo

0.7894736842105263